.container {
  display: flex;
  flex-direction: column;
  background: rgb(240, 240, 240);
  padding: 30px 0;
}

.enterprise__container-top {
  display: flex;
  justify-content: center;
}

.enterprise__container-main {
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.enterprise__container-main h1 {
  width: 60%;
  text-align: center;
  color: rgb(63, 81, 181);
}

.enterprise__box-info {
  width: 200px;

  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background: #ffffff;
}

.enterprise__box-info p:first-child {
  width: 80%;
  text-align: right;
  font-weight: 600;
  margin: 0;
}

.enterprise__box-info h3 {
  width: 80%;
  text-align: center;
  margin: 0;
  color:rgb(63, 81, 181);
}

.enterprise__box-info img {
  width: 150px;
}

.enterprise__box-info p {
  width: 80%;
  margin: 0;
}

.enterprise__box-info p span {
  font-weight: 600;
}

@media screen and (min-width: 500px) {
  .enterprise__container-top {
    width: 100%;
    flex-direction: row;
  }

  .enterprise__container-main {
    display: grid;
    grid-template-columns: repeat(2, calc(100%/2));
    align-items: center;
    justify-items: center;
    padding: 30px 20px;
  }

  .enterprise__box-info {
    height: 350px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .enterprise__container-top {
    width: 100%;
    flex-direction: row;
  }

  .enterprise__container-main {
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    justify-content: space-between;
  }

  .enterprise__box-info {
    height: 300px;
    justify-content: space-between;
  }
}
